<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!-- content这个初始化缩放比例影响了移动设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>博彩首页</title>
    <!-- 没rel="stylesheet" 居然没引用,学习了 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/lottery-basic.css">

    <script type="text/javascript" src="/js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/lottery-jump.js"></script>
</head>
<body>
<div class="container-fluid">
    <!-- 1.标题 -->
    <div class="row title">
        <div class="col-xs-12">
            <div style="position: absolute;display: none;">&lt;返回</div>
            博彩首页
        </div>
    </div>
    <div style="margin-top: 55px;"></div>
    <!-- 1.标题结束 -->

    <!-- 2.轮播图 -->
    <div class="carousel slide" style="width: 360px;margin-left: -15px"
         id="mycarousel"
         data-ride="carousel"
         data-interval="2000">
        <!--
            指示器,下面的三个小点

            data-slide-to="0"  点击小点的时候切换到那一张图片
        -->
        <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#mycarousel"></li>
            <li data-slide-to="1" data-target="#mycarousel"></li>
            <li data-slide-to="2" data-target="#mycarousel"></li>
        </ol>
        <!--
            真实的轮播图
        -->
        <div class="carousel-inner">
            <div class="item active" style="background-color: #2D0097;">
                <img src="/img/001.jpg" style="margin: 0 auto;"/>
            </div>
            <div class="item" style="background-color: #00011F;">
                <img src="/img/002.jpg" style="margin: 0 auto;"/>
            </div>
            <div class="item" style="background-color: #000F1C;">
                <img src="/img/003.jpg" style="margin: 0 auto;"/>
            </div>
        </div>
        <!--
        左右两侧的按钮
        固定格式,不变
         -->
        <a class="left carousel-control" href="#mycarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#mycarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <!-- 2.轮播图结束 -->


    <!-- 帖子列表 -->
    <div class="row ball-div">
        <div class="col-xs-11">
            <div class="row">
                <span style="font-size:14px">小凯凯</span>
                <span style="font-size:12px;margin-left:4px">2018-01-06 21:20:20</span>
            </div>
            <div class="row" style="line-height: 20px;margin-bottom: 5px;
            margin-top: 10px;word-break: break-all;">
                我买的这注01,11,20,23,25,30...彩票,
            </div>
        </div>
    </div>
    <!-- 帖子列表结束 -->


    <div style="margin-bottom: 200px;"></div>

    <div class="row" style="position: fixed;bottom: 0;width: 100%;">

        <form action="/bbs/note/" method="post">
            <!--输入标题栏-->
            <input type="text" name="title" class="form-control" placeholder="请输入标题..."/>
            <!--输入框-->
            <textarea class="form-control" name="content" style="height: 100px;"
                      placeholder="请输入内容..."></textarea>
            <!--确认发表的按钮-->
            <button type="submit" class="form-control">发表</button>
        </form>
    </div>
</div>
</body>
</html>
