<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!-- content这个初始化缩放比例影响了移动设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>博彩首页</title>
    <!-- 没rel="stylesheet" 居然没引用,学习了 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/lottery-basic.css">

    <script type="text/javascript" src="/js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/lottery-jump.js"></script>

</head>

<body>
<div class="container-fluid">

    <!-- 1.标题 -->
    <div class="row title">
        <div class="col-xs-12">
            <div style="position: absolute;display: none;">&lt;返回</div>
            博彩首页&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div style="margin-top: 55px;"></div>
    <!-- 1.标题结束 -->

    <!-- 2.轮播图 -->
    <div class="carousel slide" style="width: 360px;margin-left: -15px"
         id="mycarousel"
         data-ride="carousel"
         data-interval="2000">
        <!--
            指示器,下面的三个小点

            data-slide-to="0"  点击小点的时候切换到那一张图片
        -->
        <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#mycarousel"></li>
            <li data-slide-to="1" data-target="#mycarousel"></li>
            <li data-slide-to="2" data-target="#mycarousel"></li>
        </ol>
        <!--
            真实的轮播图
        -->
        <div class="carousel-inner">
            <div class="item active" style="background-color: #2D0097;">
                <img src="/img/001.jpg" style="margin: 0 auto;"/>
            </div>
            <div class="item" style="background-color: #00011F;">
                <img src="/img/002.jpg" style="margin: 0 auto;"/>
            </div>
            <div class="item" style="background-color: #000F1C;">
                <img src="/img/003.jpg" style="margin: 0 auto;"/>
            </div>
        </div>
        <!--
        左右两侧的按钮
        固定格式,不变
         -->
        <a class="left carousel-control" href="#mycarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#mycarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <!-- 2.轮播图结束 -->

    <!-- 3.论坛入口 -->
    <div class="row" style="padding-bottom: 10px;" onclick="location.href='/bbs/index'">
        <div class="col-xs-12">
            <p style="font-size: 20px;">博彩论坛</p>
            <p style="font-size: 16px">论坛中最新的帖子...</p>
        </div>
    </div>
    <!-- 3.论坛结束 -->

    <!-- 4.彩票历史记录 -->
    <div class="row lottery-history">

        <!-- 历史号码 -->
        <div class="col-xs-12" th:each="history:${histories}"
             th:onclick="|lotteryDetail(${history.code})|">
            <span class="lottery-history-number" th:text="|第${history.code}期|">
                第2018016期
            </span>
            <span class="lottery-history-date" th:text="${history.date}">
                2018-01-06 21:20:20
            </span>
            <div class="col-xs-10 ball-items">
                <ball th:each="red : ${history.reds}">
                    <span class="ball-item ball-item-red" th:text="${red}">13</span>
                </ball>
                <span class="ball-item ball-item-blue" th:text="${history.blue}">13</span>

            </div>
            <div class="col-xs-1 lottery-history-icon">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </div>
        </div>
        <!-- 历史号码结束 -->


    </div>
    <!-- 4.彩票历史结束 -->

    <!-- 5.底部菜单栏 -->
    <div th:replace="~{common/menu :: #menu_div}"></div>
    <!--
    <div style="margin-bottom: 62px;"></div>
    <div class="lottery-bottom">
        <div class="col-xs-12">
            <div class="col-xs-4">
                <span class="glyphicon glyphicon-home bottom-item"></span><br/>
                主页
            </div>
            <div class="col-xs-4" onclick="location.href='/select-number.html'">
                <span class="glyphicon glyphicon-shopping-cart bottom-item"></span><br/>
                选号
            </div>
            <div class="col-xs-4">
                <span class="glyphicon glyphicon-user bottom-item"></span><br/>
                我的
            </div>
        </div>
    </div>
   -->
    <!-- 5.底部菜单栏结束 -->
</div>

</body>
</html>